.content {
    display: flex;
    justify-content: center;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.totalPrice {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.head .totalPrice{
    font-size: 16px;
}
